/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


#slider {
  position: relative;
  width: 100%;
}

#header_wrapper {
  width: 100%;
  background: url(/img/theme/top_shelf.jpg) no-repeat top center;
}

#header {
  background: url(/img/theme/top_shelf.jpg) no-repeat top center;
  width: 980px;
  height: 180px;
  margin: 0 auto;
  padding-top: 35px;
  text-align: center;
}

#menu_wrapper {
  width: 100%;
  background: url(/img/theme/shelf.jpg) no-repeat top center;
}

#menu {
  background: url(/img/theme/shelf.jpg) no-repeat top center;
  width: 980px;
  height: 103px;
  margin: 0 auto;
  padding-top: 4px;
}

#content_wrapper {
  width: 100%;
  background: url(/img/theme/background_texture.jpg) no-repeat top center;
}

#content {
  background: url(/img/theme/background_texture.jpg) no-repeat top center;
  width: 980px;
  height: 428px;
  padding: 0 60px;
  margin: 0 auto
}

#content_wrapper2 {
	width: 100%;
	background: url(/img/theme/background_texture.jpg) no-repeat top center;
}

#content2 {
	background: url(/img/theme/background_texture.jpg) no-repeat top center;
	width: 980px;
	height: 428px;
	padding: 0 60px;
	margin: 0 auto
}

#footer_wrapper { 
  width: 100%;
  background: url(/img/theme/footer_texture.jpg) no-repeat top center
}

#footer {
  height: 92px;
  width: 980px;
  padding: 20px 0;
  margin: 0 auto;
  color: #999;
  text-align: center;
  background: url(/img/theme/footer_texture.jpg) no-repeat top center	
}

#footer a {
  color: #fff;
}

ul.navigation {
	width: 670px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0px;
	padding: 0;
}

ul.navigation a {
	float: left;
	display: block;
	width: 104px;
	height: 70px;
	padding: 34px 15px 0;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
    text-decoration: none;
	text-align: center;
	background: url(/img/theme/menu_sign.png) no-repeat top center
}

ul.navigation a:hover, ul.navigation a.selected {
	color: #FFFF00;
}

ul.navigation a:focus {
    outline: none;
}

/* worm animation 
---------------------------------------------------*/
.parent {
  background-color: rgba(0, 0, 0, 0);
  width: 980px;
  height: 160px;
  margin: 0 auto;
  padding-top: 35px;
}

.child {
  background: url(/img/worm/sitRTAFsmile.png);
  border: none;
  position: relative;
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 500px;
    top: -30px;
  animation: left-to-right 7s ease-in-out forwards 5s;

}

@keyframes left-to-right {
  0% {
    background: url(/img/worm/sitRTAFsmile.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 500px;
    top: -30px;
    transform: translateX(0%);
  }
  5% {
    background: url(/img/worm/sitRTAFturn.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 502px;
    top: -30px;
    transform: translateX(5%);
  }
  10% {
    background: url(/img/worm/bendRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 505px;
    top: -30px;
    transform: translateX(10%);
  }
  15% {
    background: url(/img/worm/flatRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 508px;
    top: -30px;
    transform: translateX(15%);
  }
  20% {
    background: url(/img/worm/bendRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 511px;
    top: -30px;
    transform: translateX(20%);
  }
  25% {
    background: url(/img/worm/archRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 515px;
    top: -30px;
    transform: translateX(25%);
  }
  30% {
    background: url(/img/worm/bendRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 518px;
    top: -30px;
    transform: translateX(30%);
  }
  35% {
    background: url(/img/worm/flatRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 521px;
    top: -30px;
    transform: translateX(35%);
  }
  40% {
    background: url(/img/worm/flatRTAFstop.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 523px;
    top: -30px;
    transform: translateX(40%);
  }
  45% {
    background: url(/img/worm/flatRTAFlaugh.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 523px;
    top: -30px;
    transform: translateX(45%);
  }
  50% {
    background: url(/img/worm/flatRTAFstop.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 523px;
    top: -30px;
    transform: translateX(50%);
  }
  55% {
    background: url(/img/worm/flatRTAFlaugh.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 523px;
    top: -30px;
    transform: translateX(55%);
  } 
  60% {
    background: url(/img/worm/flatRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 523px;
    top: -30px;
    transform: translateX(60%);
  }
  65% {
    background: url(/img/worm/bendRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 525px;
    top: -30px;
    transform: translateX(65%);
  }
  70% {
    background: url(/img/worm/archRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 528px;
    top: -30px;
    transform: translateX(70%);
  }
  75% {
    background: url(/img/worm/bendRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 531px;
    top: -30px;
    transform: translateX(75%);
  }
  80% {
    background: url(/img/worm/flatRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 534px;
    top: -30px;
    transform: translateX(80%);
  }
  85% {
    background: url(/img/worm/bendRTAFmove.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 534px;
    top: -30px;
    transform: translateX(85%);
  }
  90% {
    background: url(/img/worm/sitRTAFturn.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 534px;
    top: -30px;
    transform: translateX(90%);
  }
  95% {
    background: url(/img/worm/sitRTAFsmile.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 530px;
    top: -30px;
    transform: translateX(95%);
  }
  100% {
    background: url(/img/worm/sitRTAFsmile.png);
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    left: 528px;
    top: -30px;
    transform: translateX(100%);
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
