@using Bookworm.Models; 
@{
    Layout = "_Layout"; 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 clas= "display-3">Take a Look at Users Favorite Selections!</h2>
    <br>
    <div class="row">
        <div class="col-md-4" style="margin:auto;">   
            <div id="carouselExampleControls" class="carousel slide carousel-fade text-center" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/StephenKingPetSematary.jpg" class="d-block w-100"   alt="Pet-sematary">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/goodnight-moon.jpg" class="d-block w-100"  alt="goodnight-moon">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/giving-tree.jpg" class="d-block w-100"  alt="giving-tree">
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <br>
    <h2 clas= "display-3">Banned books are the best!</h2>
    <br>
    <div class="row">
        <div class="col-md-4" style="margin:auto;">   
            <div id="carouselExampleControls" class="carousel slide carousel-fade text-center" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/all-boys.jpg" class="d-block w-100"   alt="all-boys">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/my-hair.jpg" class="d-block w-100"  alt="my-hair">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/nino.jpg" class="d-block w-100"  alt="nino-wrestles">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/out-of-darkness.jpg" class="d-block w-100"  alt="out-of-darkness">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/anne.jpg" class="d-block w-100"  alt="anne">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/proudest-blue.jpg" class="d-block w-100"  alt="proudest-blue">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/maus.jpg" class="d-block w-100"  alt="maus">
                    </div>
                </div>
            </div>
        </div> 
    </div>
<button>@Html.ActionLink("See All Books", "Index", "Books")</button>
<button>@Html.ActionLink("Add a book", "Create", "Books")</button>

</div>
